<table>
<% @posts.each do |post| %>
  <tr>
    <td><%= link_to image_tag("edit.png"), edit_post_path(post) %></td>
    <td><%= link_to image_tag("remove.png"), post, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= post.published ? image_tag("tick.png") : "" %></td>
    <td class="wide"><%= link_to post.title, post %></td>
    <td class="wide"><%= distance_of_time_in_words_to_now post.created_at %> ago</td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Post', new_post_path %>
