<!DOCTYPE html>
<html>
  <head>
    <title>Benson Kalahar</title>
    <%= stylesheet_link_tag "screen.css", :media => "screen and (min-device-width: 481px)" %>
    <%= stylesheet_link_tag "handheld.css", :media => "only screen and (max-device-width: 480px)" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="content">
      <% if flash[:notice] %>
        <div id="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div id="error">
          <%= flash[:error] %>
        </div>
      <% end %>

      <% if @current_user %>
      <%= render :partial => 'shared/auth' %>
      <%= render :partial => 'shared/nav' %>
      <% end %>

      <h1 id="main">Benson Kalahar</h1>

      <%= yield %>
    </div>

  </body>
</html>
